/* Element-Selectors */

body {
	max-width: 800px;
	margin: auto;
}

nav {
	top: 0;
	position: fixed;
	z-index: 10;
}

h1, h2, h3, a {
	display: flex;
	justify-content: center;
}

/* Id-Selectors */

#main {
	margin-top: 100px;
}

#profile-picture {
	width: 50%;
	height: 50%;
	border-radius: 50%;
	object-fit: cover;
}

#canvas {
	border: 1px solid black;
}

/* Class-Selectors */

.centerHorizontal {
	margin: 0;
	position: relative;
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.centerVertical {
	margin: 0;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.stackVertical {
	display: flex;
	flex-flow: column;
}