/* Element-Selectors */

body {
	max-width: 1000px;
	margin: auto;
}

nav {
	top: 0;
	position: fixed;
	z-index: 10;
}

h2 {
	margin-top: 50px;
}

h1, h2, h3, a {
	display: flex;
	justify-content: center;
}

/* Id-Selectors */

#profile-picture {
	width: 50%;
	height: 50%;
	border-radius: 50%;
	object-fit: cover;
}

#controlColumn {
	width: 60px;
	display: flex;
	justify-content: center;
}

#fileContainer {
	overflow: hidden;
}

#fileInput {
	width: 0.1px;
	position: relative;
	margin-left: -1px;
}

/* Attribute-Selectors */

div[name="nav-Abstand"] {
	margin-top: 100px;
}

div[name="footer-Abstand"] {
	margin-bottom: 100px;
}

/* Class-Selectors */

.centerHorizontal {
	margin: 0;
	position: relative;
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.centerVertical {
	margin: 0;
	position: relative;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.stackVertical {
	display: flex;
	flex-flow: column;
}

.w3-panel {
	text-align: center;
}