/*  Ich habe kein Passendes Layout mit w3.css klassen gefunden, deshalb mache ich es selbst. Siehe @media queries: https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */

/* @media only screen and (max-width: 600px){
	#canvas {
		width: 100%;
		height: 100%;
	}
	#controlColumn {
		flex-flow: row;
	}

} */

#canvasSection {
	display: flex;
	flex-flow: wrap;
}

#canvas {
	width: 900px;
	height: 100%;
	margin: 0px;
	background-color: black;
}

#controlColumn {
	width: 90px;
	margin: 0px;
	display: flex;
	flex-flow: column;
}

.control {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	width: 60px;
	font-size: x-large;
}