/*  Ich habe kein Passendes Layout mit w3.css klassen gefunden, deshalb mache ich es selbst. Siehe @media queries: https://www.w3schools.com/cssref/css3_pr_mediaquery.asp */

/* SMALL */

@media only screen and (max-width: 600px) {
	#controlColumn {
		display: grid;
		grid-template-columns: 20% 20% 20% 20% 20%;
		grid-template-rows: 50% 50%;
		justify-items: center;
	}
	.control {
		width: auto;
		height: 100%;
	}
	#colorPicker {
		width: 60px;
		height: 60px;
	}
}

/* MEDIUM */

@media only screen and (min-width: 600px) and (max-width: 800px) {
	#controlColumn {
		display: grid;
		grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	}
	.control {
		width: 100%;
		height: auto;
	}
}

/* LARGE */

@media only screen and (min-width: 800px) {
	#canvasSection {
		display: grid;
		grid-template-columns: 94% 6%;
	}
	#canvas {
		grid-column: 1/2;
	}
	#controlColumn {
		grid-column: 2/3;
		display: grid;
		grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	}
	.control {
		width: 100%;
		height: auto;
	}
}

/* GENERAL */

#canvas {
	width: 100%;
	height: auto;
	outline: 3px lightgray solid;
}

.control {
	padding: auto;
}

#colorPicker {
	padding: 0px;
	height: auto;
}

#colorExample {
	width: 60px;
	height: 60px;
}